@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.bg-login {
    background-image: url("./bg-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* make background color dark */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group label {
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
}
