.bg-login {
    background-image: url("./bg-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* make background color dark */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
